<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#if title}}
    <title>{{title}}</title>
{{else}}
    <title>CindyJS</title>
{{/if}}
    <link rel="stylesheet" href="/assets/css/app.css" />
{{#each scripts}}
{{{.}}}
{{/each}}
  </head>
  <body class="with-footer">
    <div class="before-footer">

      <!-- Navigation -->
      <div class="title-bar" data-responsive-toggle="top-bar" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">
          <h1><a href="/">CindyJS</a></h1>
        </div>
      </div>
      <div class="contain-to-grid" id="top-bar">
        <nav class="top-bar">
          <div class="top-bar-left">
            <h1><a href="/">CindyJS</a></h1>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
{{topBarMenu}}
            </ul>
          </div>
        </nav>
      </div>
      <!-- /Navigation -->

      <div class="row">
        <div class="large-12 columns">
{{#if title}}
          <h1>{{title}}</h1>
{{/if}}
          {{{body}}}
        </div>
      </div>

    </div>
    <footer class="contain-to-grid">
      <div class="row">
        <div class="small-12 large-8 columns">
          <p class="footer-label">Made possible by:</p>
          <ul class="footer-links">
            <li><a href="http://ma.tum.de/">Technische Universität München, Zentrum Mathematik, Germany</a></li>
            <li><a href="http://discretization.de/">DFG SFB Transregio 109 DGD, Germany</a></li>
            <li><a href="http://mc2-project.eu/">M C Squared, 7th Framework Programme, EU</a></li>
          </ul>
        </div>
        <div class="small-12 hide-for-large-only"><hr></div>
        <div class="small-12 large-4 columns">
          <p class="footer-label">This page:</p>
          <ul class="footer-links">
{{#if github}}
            <li><a href="https://github.com/{{github}}/blob/{{branch}}/{{path}}">View source</a></li>
            <li><a href="https://github.com/{{github}}/edit/{{branch}}/{{path}}">Edit page</a></li>
{{/if}}
{{#if license}}
            <li><a href="{{license.url}}" rel="license">{{license.name}}
{{#if license.icon}}
                <img src="{{license.icon}}" alt="{{license.name}}">
{{/if}}
            </a></li>
{{/if}}
          </ul>
        </div>
      </div>
    </footer>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
<!--
  Full Data: {{json .}}
  -->
