<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
{{#each scripts}}
{{{.}}}
{{/each}}
  </head>
  <body>

    <!-- Navigation -->
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">CindyJS</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <ul class="right">
{{topBarMenu}}
          </ul>

        </section>
      </nav>
    </div>
    <!-- /Navigation -->

    <div class="row">
      <div class="large-12 columns">
        <h1>{{title}}</h1>
        {{{body}}}
      </div>
    </div>
    <div id="footer">
      <div class="row">
        <div class="large-12 columns">
          {{#if github}}
          <ul>
            <li><a href="https://github.com/{{github}}/blob/{{branch}}/{{path}}">source</a></li>
            <li><a href="https://github.com/{{github}}/edit/{{branch}}/{{path}}">edit</a></li>
          </ul>
          {{/if}}
        </div>
      </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
<!--
  Full Data: {{json .}}
  -->
