<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#if title}}
    <title>{{title}}</title>
{{else}}
    <title>CindyJS</title>
{{/if}}
    <link rel="icon" href="/assets/img/logo_small.png" type="image/png">
    <link rel="stylesheet" href="{{ROOT}}/assets/css/app.css" />
    <link rel="stylesheet" href="{{ROOT}}/dist/snapshot/CindyJS.css" />
{{#each scripts}}
{{{.}}}
{{/each}}
  </head>
  <body class="with-footer">

    <!-- Header -->
    <header class="top-bar">
      <div>
        <h1><a href="/"><span style="font-weight:400">Cindy</span><span style="font-weight:700">JS</span><img alt="CindyJS logo" class="logo" src="/assets/img/logo_small.png"></a></h1>
        <nav>
          <ul id="topBarLinks">
            <li><a href="/gallery/main/">Gallery</a></li>
            <li><a href="/docs/">Docs</a></li>
            <li><a href="/project/">Project</a></li>
            <li><a href="https://github.com/CindyJS/CindyJS"><img src="/assets/img/octoicons-mark-github.svg" alt="GitHub" title="GitHub project" style="display:inline; position:relative; top:0.2ex; width:1.7ex;"></a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="between-bars">
{{#if toc}}
      <!-- Page-internal navigation -->
      <nav>
        <h2>Table of Content</h2>
        <ul>
{{{toc}}}
        </ul>
      </nav>
{{/if}}

      <!-- Main part -->
      <main>
{{#if galleries}}
      <!-- navigation within gallery -->
      <div class="gallerynav"><ul>
        {{#each galleries}}
          <li{{#if highlight}} class="highlight"{{/if}}><a href="/{{href}}">{{title}}</a></li>
        {{/each}}
        </ul>
      </div>
{{/if}}

{{#if title}}
        <h1>{{title}}</h1>
{{/if}}

{{{body}}}
      </main>
    </div>

    <footer>
      <div>
        <div class="footer-item">
          <p class="footer-label">Made possible by:</p>
          <ul class="footer-links">
            <li><a href="http://ma.tum.de/">Technische Universität München, Zentrum Mathematik, Germany</a></li>
            <li><a href="http://discretization.de/">DFG SFB Transregio 109 DGD, Germany</a></li>
            <li><a href="http://mc2-project.eu/">M C Squared, 7th Framework Programme, EU</a></li>
          </ul>
        </div>
        <div class="footer-sep"><hr></div>
        <div class="footer-item">
          <p class="footer-label">This page:</p>
          <ul class="footer-links">
{{#if github}}
            <li><a href="https://github.com/{{github.repo}}/blob/{{github.branch}}/{{github.path}}">View source</a></li>
            <li><a href="https://github.com/{{github.repo}}/edit/{{github.branch}}/{{github.path}}">Edit page</a></li>
{{/if}}
{{#if license}}
            <li><a href="{{license.url}}" rel="license">{{license.name}}
{{#if license.icon}}
              <img src="{{license.icon}}" alt="{{license.name}}">
{{/if}}
            </a></li>
{{/if}}
          </ul>
        </div>
      </div>
    </footer>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
